* {
  margin: auto;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}
.marAuto {
  margin: 0px;
}
.bgpurlple {
  background-color: #7b189f;
}
.topNavSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topNavSection2 {
  display: none;
}

.topBarComponants {
  width: 90vw;
  padding: 7px;
  display: flex;
  align-items: center;
  align-content: center;
}

.spaceBet {
  justify-content: space-between;
}
.spaceArr {
  justify-content: space-around;
}
.spaceEvn {
  justify-content: space-evenly;
}
.leftData > h5,
a {
  color: #ffffff;
  font-weight: 100;
}
.leftData {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.rightNavData {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.leftData > h5:hover {
  cursor: pointer;
  text-decoration: underline;
}
.rightNavData li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  width: 12%;
}
.rightNavData > #topNavRight {
  gap: 10px;
  text-decoration: none;
  list-style: none;
  display: flex;
}
.rightNavData > #topNavRight a {
  gap: 10px;
  text-decoration: none;
  display: flex;
}
.searchCont {
  width: 60%;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.btnAndInputBox {
  width: 100%;
  height: 100%;
}

#searchAndInput {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
}
#searchAndInput > input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 18px;
}
.gap {
  gap: 20px;
}
#searchAndInput > input::placeholder {
  line-height: 50px;
  font-size: 18px;
  color: lightgray;
}
.ProfCart {
  width: auto;
  height: 50px;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 17px;
}
.ProfCart >a{
  margin: 0;
  padding: 0;
}
.ProfCart >a ,button {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}
button:hover .proficon,
button:hover .proftxt {
  color: #7b189f;
}
.topNavSectionNav {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}
.navBarComps {
  padding: 7px;
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#categorylists {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
#categorylists #categories-btn {
  margin: 0;
  display: flex;
  justify-content: center;
}
.categories-btns {
  color: black;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
#categorylists .categories-btns:hover {
  color: #7b189f;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
.myLink {
  white-space: nowrap;
  display: inline-block;
}
#chatBot {
  width: 45px;
  height: 45px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 100000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid #7b189f;
  bottom: 21px;
  right: 30px;
}
#gToTop {
  width: 45px;
  height: 45px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 100000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid #7b189f;
  bottom: 75px;
  right: 30px;
  transition: right 0.1s ease-in-out;
}
#StillnavBar {
  /* Initially hidden above the viewport */
  top: -70px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  transition: top 0.1s ease-in-out; /* Smooth transition effect */
  /* Ensure it's above other content */
  z-index: 100000;
}
#StillnavBar > .topBarComponants {
  background-color: #ffffff;
}
#dropdown-content {
  float: top;
  width: 98%;
  margin: 0;
  padding: 0;
  position: absolute;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 30px;
  column-gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.popup-menu-SignIn {
  right: 6%;
  margin: -13px;
  padding: 20px;
  position: absolute;
  flex-wrap: nowrap;
  gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid black;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid black;
  gap: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: none;
  z-index: 10000;
}
/* hamburger */
.Hamburg-container{
  float: left;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  display: none;
  background-color: white;
}
.hamburg-Menu{
  position: fixed;
  top: 0;
  left: 0px;
  margin: 0;
  float: left;
  width: 65%;
  height: 100vh;
  font-size: 0;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid black;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid black;
  gap: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  z-index: 1000011;
}
.hamburg-Header{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 59.7%;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
}
.hamburg-footer{
  position: fixed;
  bottom: 1px;
  margin: 0;
  width: 60%;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  box-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1000012;
}
.departments-hambug-list{
  top: 0;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
  padding: 10px;
  align-items: center;
  align-content: center;
}
.menuList{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  list-style: none;
  color: black;
  text-align: left;
  gap: 10px;
}
.menuList >li{
  width: 100%;
  margin: 0;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.menuList >li img{
  margin: 0;
  width: 10%;
}
.menuList >li  a{
  width: 100%;
  height: 30px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
}
.menuList >li  i{
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.menuList >li span{
  font-size: 16px;
}
.logo2 {
  width: 30%;
}

.marAuto {
  margin: 0px;
}

.hamburg-Header > button{
  width: 20%;
  height: 100%;
  margin: 0;
  padding-left: 15px;
  background-color: transparent;
  display: flex;
}

.popup-menu-SignIn a {
  text-decoration: none;
}
#topOfpopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgb(163, 160, 160);
  padding-bottom: 15px;
}
#listUnderPopup {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 15px;
  list-style: none;
}

#listUnderPopup li {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
}

#listUnderPopup li:hover #dta2 {
  text-decoration: underline 1.5px #7b189f;
  text-underline-offset: 5px;
}
#listUnderPopup li:hover #dta1,
#listUnderPopup li:hover #dta {
  color: #7b189f;
}

#listUnderPopup i {
  font-size: 22px;
}
#listUnderPopup a {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
  list-style: none;
  color: black;
  text-align: left;
  gap: 10px;
}
#listUnderPopup ul {
  margin: 0;
  list-style: none;
}
#signInInPopUp {
  width: 250px;
  height: 50px;
  background-color: #7b189f;
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#signInInPopUp2 {
  width: 250px;
  height: 30px;
  background-color: #7b189f;
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.contact-help{
  width: 150px;
  height: 50px;
  background-color: #7b189f;
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#signInInPopUp:hover {
  background-color: #9840b8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}
#signInInPopUp > #signIntxtInPopup {
  text-align: center;
}
#signInInPopUp + a {
  color: #7b189f;
  text-decoration: underline;
}
#signInInPopUp + a:hover {
  color: #7b189f;
  text-decoration: none;
}
.column {
  float: left;
  margin: auto;
  width: 15%;
  margin-left: 20px;
}
.column > h3 {
  color: #7b189f;
  margin-bottom: 10px;
  margin-top: 20px;
}
.column > h3 + ul {
  margin-top: 0px;
  margin-bottom: 25px;
  list-style: none;
  font-size: 12px;
}
.column > h3 + ul > li {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}
.column > h3 + ul > li > a {
  color: black;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.column > h3 + ul > li > a:hover {
  color: #7b189f;
  text-decoration: underline 1px;
}
#extra-content {
  float: left;
  margin: auto;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#textimgCategory {
  padding: 10px;
}
#catagImg {
  width: 300px;
  border-radius: 10px;
}
#textimgCategory:hover {
  background-color: #fffdf8;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.imggrids {
  margin: auto;
  margin-top: 0px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px;
  gap : 20px;
}
.flexCol{
  display: flex;
  flex-direction: column;
}

.lgtimgsSlider {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 8px;
  position: relative;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.lgtimgsSlider .img1 {
  width: 100%; /* Set both images to take up the full width of the container */
  object-fit: cover;
}
.rghtImgs {
  width: 70%;
  margin: 0;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.rghtImgs > img{
  margin: 0;
  padding: 8px;
  border-radius: 15px;
  width: 100%; /* Set both images to take up the full width of the container */
  object-fit: cover;
}
.rghtImgs>img:hover{
  background-color: #fffdf8;
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.imggrids2{
  width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

#img3{
  width: 90%;
  border-radius: 10px;
}
#img3:hover{
  background-color: #fffdf8;
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.smallGrid{
  margin: 10px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(218, 214, 214, 0.55);
  position: relative;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.smallGrid  > img{
  width: 100%;
  border-radius: 24px;
  padding: 5px;
}
.smallGrid > img:hover{
  background-color: #fffdf8;
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.btmData{
  width: 100%;
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}

.mergin-Bottom{
  margin-bottom: 20px;
}

/* 10 image slide css */
.cardsGridContainer{
  width: 90vw;
  margin-top: 20px;
  position: relative;
  padding: 7px;
}
.cardsGridContainer > .slide-button5{
  display: none;
}
#headForDisplays > h2 {
  font-size: 24px;
}
.cardsGrids{
  width: 100%;
  margin-top: 10px;
  position: relative;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(10, minmax(268px, 1fr));
  gap: 10px;
}
.type2-cardGrid{
  width: 100%;
  margin-top: 10px;
  position: relative;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 10px;
}
.type3-cardGrid{
  width: 100%;
  margin-top: 10px;
  position: relative; 
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(180px, 1fr));
  gap: 15px;
}
.card-container {
  position: relative;
  padding: 5px;
  border-radius: 8px;
  overflow: hidden;
}
.card-container:hover{
  background-color: #fffdf8;
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.product-details {
  margin: 0;
  padding: 10px;
  text-align: left;
}
.product-details > h4{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(139, 0, 0, 0.758);
}
#data {
  width: 100%;
  text-align: left;
}
#imgDiv{
  border: 0.2px solid rgba(173, 216, 230, 0.4);
  border-radius: 8px;
}
#slideimg {
  width: 100%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}

.slide-button-css {
  width: 50px;
  height: 50px;
  border: 1px solid #7b189f;
  position: absolute;
  background-color: white;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000; /* Ensure buttons appear above other content */
}

#prev-btn {
  left: -12px;
  top: 45%;
  transform: translateY(-50%);
}

#next-btn {
  right: -12px;
  top: 45%;
  transform: translateY(-50%);
}
#SaleFlag{
  width: 98%; 
  object-fit: cover; 
  padding: 10px;
  border-radius: 15px;
}
#SaleFlag:hover{
  background-color: #fffdf8;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.gridAboutUS{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.aboutus{
  top: 0;
  margin: 0;
  width: 90vw;
  padding: 7px;
  gap: 20px;
  height: 90%;
}
#aboutUsList{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 15px;
  list-style: none;
}
#aboutUsList ul {
  margin: 0;
  list-style: none;
}
#aboutUsList li {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 10px;  
  padding-bottom: 10px;  
}

#aboutUsList ul:hover #dta2 {
  text-decoration: underline 1.5px #7b189f;
  text-underline-offset: 5px;
  color: #7b189f;
}

#aboutUsList a {
  margin: 0;
}
.btnsContact{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 15px;
}
#contact-help{
  width: 150px;
  height: 50px;
  margin: 0;
  
  background-color: #7b189f;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#contact-help:hover {
  background-color: #9840b8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}
#contact-help > #signIntxtInPopup {
  text-align: center;
  text-decoration: none;
  display: flex;
  gap : 5px;
}
#contact-help + a {
  color: #7b189f;
  text-decoration: none;
}
#contact-help + a:hover {
  color: #7b189f;
  text-decoration: none;
}
.socialCont{
  top: 0px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.socials{
  margin: auto;
  width: 90vw;
  padding: 7px;
  display: flex;
  gap: 20px;
}
.socials > i{
  font-size: 22px;
  
}
.socials > i:hover{
  background-color: #9840b8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}
.socials > i,span,p{
  margin: 0;
}
.socials > span,p{
  font-size: smaller;
}
.socials > p:hover{
  text-decoration: underline 0.5px #7b189f;
  text-underline-offset: 5px;
  color: #7b189f;
}
.socials > span:hover{
  text-decoration: underline 0.5px #7b189f;
  text-underline-offset: 5px;
  color: #7b189f;
}
/* ********************************************************** */
/* mediaQuesries */

@media screen and (min-width: 1154px) and (max-width: 1360px) {
  .navBarComps > #categorylists span {
    color: black;
    font-size: 13px;
    text-decoration: none;
  }
  .type2-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
  }
  .type3-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative; 
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(14, minmax(180px, 1fr));
    gap: 15px;
  }
  .cardsGridContainer > .slide-button5{
    display: block;
  }
}
@media screen and (min-width: 1145px) and (max-width: 1154px) {
  .navBarComps > #categorylists span {
    color: black;
    font-size: 11px;
    text-decoration: none;
  }
  .ProfCart > button span {
    display: none;
  }
  .type2-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
  }
  .type3-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative; 
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(14, minmax(180px, 1fr));
    gap: 15px;
  }
  .cardsGridContainer > .slide-button5{
    display: block;
  }
}

@media screen and (min-width: 1016px) and (max-width: 1145px) {
  .navBarComps > #categorylists span {
    color: black;
    font-size: 11px;
    text-decoration: none;
  }
  .ProfCart > button span {
    display: none;
  }
  .type2-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
  }
  .type3-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative; 
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(14, minmax(180px, 1fr));
    gap: 15px;
  }
  .cardsGridContainer > .slide-button5{
    display: block;
  }
}

@media screen and (min-width: 800px) and (max-width: 1016px) {
  .navBarComps {
    width: 100%;
    border: 1px solid lightgray;
    display: block;
    flex-wrap: wrap;
  }
  .navBarComps > #categorylists {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
  }

  .navBarComps > #categorylists span {
    color: black;
    font-size: 10px;
    text-decoration: none;
  }
  .ProfCart > button span {
    display: none;
  }
  .type2-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
  }
  .type3-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative; 
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(14, minmax(180px, 1fr));
    gap: 15px;
  }
  .cardsGridContainer > .slide-button5{
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .navBarComps {
    display: none;
  }

  .rightNavData {
    display: none;
  }
  .topBarComponants {
    width: 90vw;
    padding: 7px;
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .topNavSection:nth-child(2) {
    display: none;
  }
  .topNavSection2 {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #StillnavBar2 {
    /* Initially hidden above the viewport */
    top: -70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: top 0.1s ease-in-out; /* Smooth transition effect */
    /* Ensure it's above other content */
    z-index: 100000;
  }
  .logo {
    width: 20%;
  }
  .ProfCart .dispNone {
    display: none;
  }
  .ProfCart {
    width: 14%;
    gap: 12px;
  }
  .searchCont {
    width: 90%;
  }
  .column {
    width: 100%;
  }
  .popup-menu-SignIn {
    top: 13%;
    right: 6%;
    margin: auto;
    padding: 20px;
    position: absolute;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid black;
    gap: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    display: none;
    z-index: 10000;
  }
  .type2-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(290px, 1fr));
    gap: 10px;
  }
  .type3-cardGrid{
    width: 100%;
    margin-top: 10px;
    position: relative; 
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(14, minmax(180px, 1fr));
    gap: 15px;
  }
  .cardsGridContainer > .slide-button5{
    display: none;
  }
  .gridAboutUS{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .imggrids {
    margin: auto;
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    gap : 20px;
  }
  .rghtImgs {
    width: 100%;
    margin: 0;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
  }
  .imggrids2{
    width: 100%;
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
  }
  
}
