* {
    /* box-sizing: border-box   ; */
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}
/* body { */
    /* max-width: 1200px; Adjust this value according to your design */
    /* margin: 0 auto; */
/* } */
.marAuto{
    margin: 0px;
}
.bgpurlple{
    background-color: #7B189F;
}
.topNavSection{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.topNavSection2{
    display: none;
}

.topBarComponants{
    width: 90vw;
    padding: 7px;
    display: flex;
    align-items: center;
    align-content: center;
}
.spaceBet{
    justify-content: space-between;
}
.spaceArr{
    justify-content: space-around;
}
.spaceEvn{
    justify-content: space-evenly;
}
.leftData > h5 , a{
    color: #FFFFFF;
    font-weight: 100;
}
.leftData {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align:center;
}
.rightNavData{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.leftData > h5:hover{
    cursor: pointer;
    text-decoration: underline;
}
.rightNavData li:hover{
    cursor: pointer;
    /* color: #FFFFFF; */
    text-decoration: underline;
}
.logo{
    /* width: 150px; */
    width: 12%;
}
.rightNavData > #topNavRight{
    gap: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}
.rightNavData > #topNavRight a{
    gap: 10px;
    text-decoration: none;
    display: flex;
}
.searchCont{
    width: 60%;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.btnAndInputBox{
    width: 100%;
    height: 100%;
    
}

#searchAndInput{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}
#searchAndInput > input{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 18px;
}
.gap{
    gap: 20px;
}
#searchAndInput > input::placeholder{
    line-height: 50px;
    font-size: 18px;
    color: lightgray;
}
.ProfCart{
    width: 14%;
    box-sizing: inherit ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 17px;
}
.ProfCart > button{
    display: flex;
    align-items: center;
    align-content: center;
    
} 
.ProfCart > button :hover{
    color: #7B189F;
}
.topNavSectionNav{
    max-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid lightgray;
}
.navBarComps{
    /* margin: auto; */
    /* width: 90vw; */
    padding: 7px;
    display: inline-block;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#categorylists {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;   
}
#categorylists li{
    display: flex;
    justify-content: center;
}
#categorylists span{
    color: black;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}
#categorylists span:hover{
    color: #7B189F;
    text-decoration: underline 2px ;
    text-underline-offset: 5px;
}
.myLink{
    white-space: nowrap;
    display: inline-block;
}
#chatBot{
    width: 45px;
    height: 45px;
    position: fixed;
    /* background-color: #7B189F; */
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 100000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #7B189F;
    bottom: 21px;
    right: 30px;
}
#gToTop{
    width: 45px;
    height: 45px;
    position: fixed;
    /* background-color: #7B189F; */
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #7B189F;
    bottom: 75px;
    right: 30px;
    transition: right 0.1s ease-in-out;
}
#StillnavBar{
    /* Initially hidden above the viewport */
    top: -70px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    transition: top 0.1s ease-in-out; /* Smooth transition effect */
    /* Ensure it's above other content */
    z-index: 1000; 
}
.column {
        float: left;
        width: 20%; /* Five columns */
    }

    @media only screen and (max-width: 600px) {
        /* On small screens, show one column */
        .column {
            width: 100%;
        }
    }
/* mediaQuesries */

  @media screen and (min-width: 1154px) and (max-width: 1362px){
    .navBarComps > ul span{
        color: black;
        font-size: 13px;
        text-decoration: none;
        
    }
  }
  
  @media screen and (min-width: 1016px) and (max-width: 1154px){
    .navBarComps > ul span{
        color: black;
        font-size: 11px;
        text-decoration: none;
    }
    .ProfCart > button span{
        display: none;
    } 
  }
  
  @media screen and (min-width: 800px ) and (max-width: 1016px){
    .navBarComps{
        width: 100%;
        border: 1px solid lightgray;
        display: block;
        flex-wrap: wrap;
    }
    .navBarComps > ul {
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
    }
    
    .navBarComps > ul span{
        color: black;
        font-size: 10px;
        text-decoration: none;
    }
    .ProfCart > button span{
        display: none;  
    } 
  }

  @media screen and (min-width: 320px) and (max-width: 800px){
    
    .navBarComps{
        display: none;
    }
    
    .rightNavData{
        display: none;
    }
    .topBarComponants{
        width: 90vw;
        padding: 7px;
        display: flex;
        align-items: center;
        align-content: center;
    } 
    .spaceBet{
        justify-content: center;
    } 
    
    .topNavSection:nth-child(2){
        display: none;
    }
    .topNavSection2{
        /* display: block; */
        width: 100%; 
        display: flex;
        align-items: center;
        /* justify-content: center;   */
    }
    #StillnavBar2{
        /* Initially hidden above the viewport */
        top: -70px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        transition: top 0.1s ease-in-out; /* Smooth transition effect */
        /* Ensure it's above other content */
        z-index: 1000; 
    }
    .logo{
        /* width: 150px; */
        width: 20%;
    }
    .ProfCart .dispNone{
        display: none;  
    } 
    .ProfCart{
        width: 14%;
        gap: 12px;
    }
    .searchCont{
        width: 90%;
    }
    
  }
